############# Configuration #############
DEBUG = False
SECRET_KEY = "Better put a proper secret here"
# Path to antiSMASH output directory on disk
RESULTS_PATH = '/data/plantismash/upload'
# URL path to antiSMASH results in the webapp
RESULTS_URL = '/upload'

# Flask-Mail settings
DEFAULT_RECIPIENTS = []

# Redis settings
REDIS_URL = 'redis://plantismash-backend:8951/0'
# defaults to redis://localhost:6379/0

# Flask-Downloader settings
# This should be the same as RESULTS_PATH
DEFAULT_DOWNLOAD_DIR = '/data/plantismash/upload'

# precalculated results location
PRECALCULATED_RESULTS = '/data/plantismash/precalc'

CLUSTERBLAST_FILES = '/data/plantismash/clusterblast'

# Content NCBI likes to return when reading from NCBI fails.
BAD_CONTENT = ('Error reading from remote server', 'Bad gateway', 'Cannot process ID list', 'server is temporarily unable to service your request', 'Service unavailable', 'Server Error')

OLD_JOB_COUNT = 23899
#########################################
